####################
# Global  defaults #
####################

* @lesserwhirls

#####################
# top level modules #
#####################

# None at this time

###########################################
# classpath / not module specific matches #
###########################################

**/iosp/nids/** @dopplershift @lesserwhirls

######################
# general file types #
######################

*.py @dopplershift
**/test/**/*.py @lesserwhirls

####################
# individual files #
####################

# None at this time